@page
@model WebApp.Pages_Question.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.QuestionItself" class="control-label"></label>
                <input asp-for="Question.QuestionItself" class="form-control" />
                <span asp-validation-for="Question.QuestionItself" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input class="invisible" name="QuizIdFromPost" value=@Model.QuizId>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-id="@Model.QuizId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
